<h2>Person Details</h2>
<div *ngIf="person" >{{person | json}}</div>
{{ personId }}
{{ person | async }}
<div *ngIf="person">
  <h3>{{ person.name }} {{ person.firstname }}</h3>
  <h4>{{ person.availability }}</h4>
  <p>{{ person.cc }}</p>
  <p>{{ person.key }}</p>
</div>

<div *ngIf="item">
  <h3>{{ item.name }}
      {{ item.firstname }}</h3>
  <ul>
    <li class="text">
      Disponibilité: {{ item.availability.toDate() | date : 'shortDate' }}
    </li>
    <li class="text">
      Direction: {{ item.cc }}  
    </li>
    <li class="text">
      Type: {{ item.personType }}    
    </li>
    <li class="text">
      Category: {{ item.priceCategory }}    
    </li>
    <li class="text">
      Compétences: {{ item.skills }}    
    </li>
    <li class="text">
      Site OK: {{ item.wantedSites }}    
    </li>
    <li class="text">
      Site KO: {{ item.unwantedSites }}    
    </li>
  </ul>
</div>

<ng-template #loading>
  Loading stuff...
</ng-template>