<h2>Person Details</h2>
<!--<div *ngIf="person" >{{person | json}}</div>
{{ personId }}-->
<div *ngIf="person">
  <h3>
      {{ (person | async)?.name }}
      {{ (person | async)?.firstname }}
  </h3>
  <ul>
    <li class="text">
      Compétences: {{ (person | async)?.skills }}
    </li>
    <li class="text">
      Expérience (en années): {{ (person | async)?.xp }}
    </li>
    <li class="text">
      Disponibilité: {{ (person | async)?.availability.toDate() | date : 'dd/MM/yy' }}
    </li>
    <li class="text">
      Direction: {{ (person | async)?.cc }}
    </li>
    <li class="text">
      Type: {{ (person | async)?.personType }}
    </li>
    <li class="text">
      Category: {{ (person | async)?.priceCategory }}
    </li>
    <li class="text">
      Site OK: {{ (person | async)?.wantedSites }}
    </li>
    <li class="text">
      Site KO: {{ (person | async)?.unwantedSites }}
    </li>
  </ul>
</div>

<ng-template #loading>
  Loading stuff...
</ng-template>